@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.head-container{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    width: 100%;
    position: fixed;
}

.black-thing{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.black-thing-content1{
    display: flex;
    margin: auto 0;
    justify-content: center;
    margin-left: 40%;
    font-weight: 900;
    font-size: 17px;
}
.black-thing-content2{
    display: flex;
    margin: auto 0;
    justify-content: center;
    margin-left: 35%;
    font-size: 11px;
    align-items: center;
    font-weight: 900;
    padding: 6.5px 15px;
}

.black-thing-content2:hover{
    background-color: white;
    color: black;

}

#user-logo{
    margin-left: 10px;
    font-size: 17px;
}

nav{
    background-color: #f4f4f4;
    border-bottom: 1px solid black;
    width: 100vw;
}

nav ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    font-weight: 900;
    color: black;
}

nav ul li{
    padding: 5px;
}

nav ul li:hover{
    border-bottom: 5px solid black;
}

.logo:hover{
    border: none;
}

.utility-buttons{
    margin: 10px;
}

.utility-buttons i{
    padding: 10px;
}

section img{
    background-size: cover;
    width: 99vw;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-thumb {
    background-color: black; /* Color of the scrollbar thumb */
}

@media (max-width: 959px){
    nav > ul > li:not(:nth-child(1)):not(:nth-child(2)){
        display: none;
    }
}

@media (min-width: 959px){
    nav > ul > li:first-child{
        display: none;
    }
}